# Altium backup/history/cache files
History/
__Previews/
*.PrjPcbStructure
*.SchDocPreview

# macOS
.DS_Store
Project Logs for*/
*.LOG
MIDTERM_PROJECT/
FINAL_PROJECT/Final_HaticeYılmaz/
Project Outputs for*/
